* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Grandstander", cursive;
  font-size: 1.1em;
  /* background: linear-gradient(to right, #c9d6ff, #e2e2e2); */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header>img,
footer>img {
  height: 50px;
  margin: 0 1em 0 1em;
}

main,
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main>div {
  border: 3px solid black;
  padding: 1em;
}

.dark {
  background-image: url('https://wallpapercave.com/dwp2x/jL9RP8z.jpg');
  background-size: cover;
  color: white;
}

#tips-section {
  list-style-position: inside;
}

#toggle-theme {
  transition: box-shadow 0.4s, transform 0.5s;
}

#toggle-theme:hover {
  color: rgb(68, 67, 67);
  background-color: goldenrod;
  box-shadow: 0em 0.8em 0.8em -0.4em rgb(235, 213, 88);
  transform: translateY(-0.3em);
  cursor: pointer
}