* {
  box-sizing: border-box;
}

img {
  max-width: 80%;
}

body {
  text-align: center;
  font-family: "Grandstander", cursive;
  font-size: 1.1em;
  background-color: #F6FFF8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header>img,
footer>img {
  height: 50px;
  margin: 0 1em 0 1em;
}

main,
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main>div {
  border: 3px solid black;
  padding: 1em;
}

.dark {
  background-color: #0E0004;
  background-size: cover;
  color: gold;
}

#tips-section {
  list-style-position: inside;
}

#toggle-theme, #double-btn {
  transition: box-shadow 0.4s, transform 0.5s;
}

#toggle-theme:hover, #double-btn:hover {
  color: rgb(68, 67, 67);
  background-color: goldenrod;
  box-shadow: 0em 0.8em 0.8em -0.4em rgb(235, 213, 88);
  transform: translateY(-0.3em);
  cursor: pointer
}